 
body{
    font-family: Josefin Sans !important;
    color: black;
      padding-left: 0px !important;
    padding-right: 0px !important;
}
 h1 ,h2,h3,h4,h5,h6{
         font-family: Josefin Sans;
 }
 p{
         font-family: Josefin Sans;
 }

.default-margin{
        margin: 0px !important;
        padding:  0px !important;
}
.padding-top-medium{
    padding-top: 10px;
}
.padding-top-large1{
       margin-top: 170px !important;
} 
.App{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.app-secondary-bg{
    background-color:#ED6130 !important;
}
.app-secondary-text{
      color:  #00918A !important;
} 
 .loading-container{
width: 100%;
height: 100vh;
background-color:#000000e6 ;
 }
 .loading-logo{
width: 100px;
height: 60px;
 }




 

 


                                        /**** header started started*/
.upper-nav{
        display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.logo{ 
    height: 60px;
    width: 100px
}

.upper-nav span{
       color: white;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
        font-family: Josefin Sans; 
}
.main-nav-bar{ 
   background-color: transparent !important;   
}
.main-nav-items a{
    color: white  !important;  
          margin-left: 33px !important; 
    transition: .5s ease-in-out;
}
.main-nav-items a:after {
	content: '';
	display: block;
	width: 70%;
	height: 4px;
	background-color:  transparent;
}
 
.main-nav-items a:hover:after {
	content: '';
	display: block;
	width: 70%;
	width: 95%;
	height: 3px;
	background-color:  #008BFF;
    color: #008BFF;
    
}
 
  
.main-nav-social-links a{
      border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
    padding: 2px;
        width: 34px;
    display: flex;
    justify-content: center;
        font-family: Josefin Sans; 
}
.main-nav-social-links-container{
    display: flex;
}
.main-nav-social-links a svg{
    width:15px;  
}
.navbar-toggler-icon {
    background-color: snow;
    border: 2px white solid;
    padding: 16px;
    border-radius: 3px;
}
 














 
                                                /* header started ended*/

     /* hero started started*/
.hero-section{ 
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
        padding-top:180px ;
            padding-bottom: 180px;
}
.hero-text-container h1{
color: white ;
font-size: 50px;
font-weight: 900;
font-family: Josefin Sans;

}
.hero-text-container p{
font-size: 18px;
    color: white;
    line-height: 19px;
    padding-top: 17px;
font-family: Josefin Sans; 
}
.hero-btns-container{
display: flex;
    padding-top: 30px;
}
.btn-trade{
    background-color: #008BFF;
    color: white;  
    text-decoration: none !important; 
    padding: 10px 25px;
    margin-right: 40px; 
    font-family: Josefin Sans;
    border-radius: 25px;
}


.hero-btns-container .btn-trade{
    text-decoration: none !important;
    transition: .3s ease-in-out;
        font-weight: bold;

}
.hero-btns-container .btn-trade:hover{
    color: #008BFF;
    background-color: white;
    text-decoration: none !important;

}
.btn-sell{
    background-color: white;
    text-decoration: none !important;
    color: #008BFF; 
    text-decoration: none; 
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin Sans;
    border-radius: 25px;

}
.hero-btns-container .btn-sell{
    text-decoration: none !important;
    transition: .3s ease-in-out;
        font-weight: bold;

}
.btn-sell:hover{
background-color: #008BFF;
color: white;  
}
      /* hero started ended*/


 








/* welcome started */
.welcome-section{
  padding-top:100px ; 
}
.welcome-text-container{

}
.welcome-text-container h6 {
    color: #263242;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10px;
}
.welcome-text-container h1 {
    font-size: 35px;
    font-weight: 700;
    color: #263242;
    font-family: Josefin Sans;
    padding-top: 10px;
}
.welcome-text-container p {
    color: #818181;
    font-size: 16px;
    padding-top: 10px;
    font-weight: 600;
}
.welcome-footer-container {
    padding-top: 30px;
display: flex;
width: 100%;
flex:3
}
.welcome-footer-box {
  border-right: 2px solid #818181;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}

.welcome-footer-container h2 {
    font-size: 13px;
    font-weight: bolder;
    text-align: center;
    padding: 1px;
}
.welcome-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trader-sell-text{
    color: #005CAA !important;
} 


@media (min-width: 1400px)
{
  .welcome-section  .container-xxl, .welcome-section  .container-xl, .welcome-section  .container-lg,.welcome-section  .container-md,.welcome-section .container-sm, .welcome-section  .container {
    max-width: 1050px  !important;
}
}
/* welcome ended */

 












/* get-registered-section  stared*/
.get-registered-section{
background-color: #005CAA;
padding:50px 15px;
}
.get-registered-container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.get-registered-container h1{
    font-family: Josefin Sans;
font-size: 27px;
color: white;
}
.get-registered-container p{
   font-size: 12px;
   color: white; 
}
.get-registered-container a{
      background-color: #263242;
    color: white;
    text-decoration: none;
    padding: 11px 21px;
} 
/* get-registered-section  ended*/


/* how we work started */
.how-we-work-section{
    background-color: #F1F4F9;
    padding: 100px 0px;
}
.how-we-work-text-area{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.how-we-work-text-area h6{
    font-size: 13px;
    font-weight: 800;
    padding-top: 10px;
}
.how-we-work-text-area h1 {
    color: #253141;
    font-size: 35px;
    font-weight: 900;
}
.how-we-work-cards-area{
    display: flex;
justify-content: center;
align-items: center; 
flex-direction: column;
    padding: 0px 100px !important;
}
.how-we-work-card{
     display: flex;
justify-content: center;
align-items: center; 
flex-direction: column;
}
.how-we-work-card h1 {
    font-size: 20px;
    color: #263242;
    font-weight: bold;
}
.how-we-work-card p {
    color: #656565;
    font-size: 12px;
    font-weight: 700;
    padding-left: 0px;
}
/* how we work ended */


















/* buy or sell setarted */
.buy-sell-section{
padding: 100px 0px;
}
.buy-sell-container{
display: flex;
justify-content: center;
align-items: center;
}
.buy-card{
     background-color:#253242;
clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 11% 100%, 0% 80%, 0 0);
    max-width: 397px !important;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
        height: 222px;
    flex-direction: column;
}
.sell-card{
     /* background-image: url(../assets/imgs/png/buyOrSellCard/Subtraction\ 5.png); */
    background-color: #005DAB;
    max-width: 397px !important; margin: 5px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    height: 222px;
clip-path: polygon(20% 0%, 89% 0%, 100% 20%, 100% 80%, 100% 100%, 10% 100%, 0 100%, 0 0);
}
.tr-heading {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    padding: 0px 50px;
}
.tr-sub-heading {
    /* padding-bottom: 36px; */
    color: white;
    font-size: 15px;
    padding-bottom: 0px;
    padding-bottom: 30px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
    font-weight: lighter;
}
/* buy or sell ended  */










/* new cars setarted */
.new-cars-section{
padding:50px 0px;
}
.new-cars-section .container-fluid{
    padding: unset  !important;
}
  
.new-car-card-full{
    height: calc(70vh - 120px);
    /* height: 357px ;  */
    background-size: cover  !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  padding: 11px 53px !important;  
        /* padding: 194px 40px 18px 40px !important; */

}
 .new-badge{
background-color: #008BFF;
color: white; 
display: flex;
justify-content: center;
align-items: center;
    width: 50px;
    height: 30px;
    
 }
 .new-car-card-full h1{
font-size: 35px;
color: white;
font-weight: 800;
overflow: hidden;
padding-top: 25px;
 }
  .new-card-list{  
     padding-top: 15px; 
 }
.new-card-list-item {
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}
 .border-right{
        border-right: 3px solid white;
        padding:0px 10px;  
 }
  .border-first{
        border-right: 1px solid white;
        padding-left: 0px;
        padding-right: 10px;
 }
/* new cars ended */














/* customer Review Section */
.customer-review-card-margin{
        margin: 0px 30px;
}
.customer-review-section {
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
.customer-review-card{

}
.customer-review-message-container{ 
    clip-path: polygon(20% 0,100% 0%,100% 84%,85% 84%,74% 100%,75% 84%,0 84%,0 0);
    font-family: Josefin sans;
    font-weight: 400;
    font-style: italic; 
    padding: 30px 30px 60px 33px;
}
.customer-primary-color-card{
color: white;
     background-color : #34404E;
}
.customer-secondary-color-card{
color: white;
     background-color :#005CAA ;
}
 
.customer-review-name-container h4 {
font-size: 18px;
    margin-right: 10px;
}
.customer-review-name-container h6 {
font-size: 11px;
}
.customer-review-name-container h3{

}
.customer-avatar{
max-height: 40px;
    max-width: 40px;
}
/* customer Review Section ended */








/* NewsAndArticals started */
.news-and-articals-section{
padding: 100px 10px;
}
.news-and-articals-section-cards-container{
        /* padding: 80px; */
}
.news-and-articals-section-card{
    padding: 30px !important;
}
.artical-image{
padding: unset  !important;
}
.date  {
color: #263242;
font-size: 9px;
border-right: 2px solid #263242 ;
    font-weight: 600;
}
.posted-by{
color: #263242;
font-size: 9px;
    font-weight: 600;
}
.news-and-articals-section-card h3{
    color: #263242; 
    font-weight: 800;
} 
.news-and-articals-section-card p{
color: #92999F;
    font-size: 12px;
}
.artical-card-footer a{
    font-weight: 500;
    color:#263242 !important;
}
.artical-card-footer span{
font-size:9px ;
}

@media (min-width: 1400px)
{
  .news-and-articals-section  .container-xxl, .news-and-articals-section  .container-xl, .news-and-articals-section  .container-lg, .news-and-articals-section  .container-md, .news-and-articals-section .container-sm, .news-and-articals-section  .container {
    max-width: 1050px  !important;
}
}
/* NewsAndArticals ended */









 







/* footer started*/
.footer-container{
    background-color: #111820;
    color: white;
    padding: 91px 0px !important;
}
.footer-social-links a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-text-area{ 
}
.footer-text-area-column-1{
color: #92999F;
font-size: 12px;
}

.footer-text-area-column-1 p{

}
.footer-text-area-column-1 span{
font-size: 13px;
}
.footer-phone-number{
        font-size: 17px  !important; 
}
.footer-text-area-column-2{

}
.footer-text-area-column-2 h5{
    font-size: 14px;
}
.footer-text-area-column-2 a{
font-size: 13px;
    text-decoration: none;
    color: #92999F !important;
}
.footer-text-area-column-3{

}
.footer-text-area-column-3 h5{
    font-size: 14px;
}
.footer-text-area-column-3 a{
font-size: 13px;
    text-decoration: none;
    color: #92999F !important;
}
.footer-text-area-column-4{

}
.footer-text-area-column-4 h5{
    font-size: 14px;
}
.footer-text-area-column-4 p{
    padding-top: 10px;
 color: #92999F;
font-size: 12px;
}
.news-letter-input{
    height: 43px;
}
.btn-newsletter{
    background-color: #005CAA; 
    color: white;
    width: 137px;
    padding: 8px;
    margin-top: 9px;
        font-family: Josefin sans;
} 
@media (min-width: 1400px)
{
   .footer-container  .container-xxl, .footer-container  .container-xl, .footer-container  .container-lg, .footer-container  .container-md, .footer-container  .container-sm, .footer-container  .container {
    max-width: 1050px  !important;
}
}
/* footer ended */























/* LOGIN Page Started */

 .section-t-b-padding{
     padding: 115px 0px 200px 0px   !important;
 }
 

  
.login-hero-section{ 
    background-image: url("../assets/imgs/png/login/loginJPG.jpg");
    background-size: cover;
    color: white;
}
.login-hero-container{
      padding: 70px 50px;  
            align-items: center;
}
 .ts-input{
     background-color: #00000096 !important;
     color: #D7D7D7 !important;
 } 
.ts-btn{
background-color: #3AB3F8;
color: white;  
    text-decoration: none !important; 
    width: 100% !important;
        font-family: Josefin sans;
}
 
.login-hero-container{
    background-color: #00000070;
    
}
 
.ts-bbg-text-color{
color: white !important;
font-size: 13px;
}
 
/* Login Page ended */





/* Registration Page Started */


  .section-registration-t-b-padding{
   padding: 50px 0px 120px 0px !important;
  } 
.registration-hero-section{ 
    background-image: url("../assets/imgs/png/login/registration.png");
    background-size: cover;
    color: white;
}
 
 
/* Registration Page ended */





/* Contact us Page Started */


  .section-contact-t-b-padding{
   padding: 50px 0px 220px 0px !important;
  } 
  .registration-hero-section h1{
          font-weight: 600;
  }
.contact-hero-section{ 
    background-image: url("../assets/imgs/png/login/Contactusbg.png");
    background-size: cover;
    color: white;
}
  .text-area h2{
             font-size: 50px;
    font-weight: 600;
    font-family: Josefin sans;
 }
 .text-area p {
    width: 375px;
    font-size: 18px;
}
 .margin-top-medium{
         margin-top: 50px;
 }
/* Contact us Page ended */






/* Trade your card startd */
 
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
     color: #D7D7D7 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: #D7D7D7 !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
     color: #D7D7D7 !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: #D7D7D7 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #D7D7D7 !important;
}

::placeholder { /* Most modern browsers support this now. */
   color: #D7D7D7 !important;
}

 .sell-form-label{
     margin: 2px ;
     font-size: 12px ;
 }
.btn-back{
background-color: white  !important;
text-decoration: none !important;
color: #008BFF !important; 
    text-decoration: none; 
     padding: 10px 35px  !important;
    transition: .3s ease-in-out;
        font-family: Josefin sans;
}
.btn-back:hover{
background-color: #008BFF !important;
color: white !important;  
}
.btn-next{
background-color:  #008BFF !important;
text-decoration: none !important;
color: white  !important; 
    text-decoration: none; 
     padding: 10px 35px  !important;
     margin-left: 5px;
    transition: .3s ease-in-out;
        font-family: Josefin sans;
}
.btn-start{
    background-color:  #008BFF !important;
text-decoration: none !important;
color: white  !important; 
    text-decoration: none;  
     margin-left: 5px;
    transition: .3s ease-in-out;
        font-family: Josefin sans;
    padding: 7px 35px !important;
}
.btn-next:hover{
background-color:white !important;
color:  #008BFF !important;  
}
.btn-margin-left{
        margin-left: 50px;
}
.form-select { 
    background-size: 20px 33px !important;
     
}
 .form-subheading{
font-size: 17px;
 }
 .form-small-text{
font-size: 12px;
 }
 .steps-row-image{
       padding: 33px 40px 60px 40px !important;
 }
 .steps-row-image img{
             width: 100% !important;
 }
 .preview-images-list{ 
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
 }
 .image-container{
     position: relative; 
     margin: 6px 6px 0px 0px;
 }
 .preview-images-list img{
    max-width: 85px !important;
    max-height: 50px;
 }
 .image-btn-close{
     position: absolute;
    background: black;
    top: 1px;
    right: 1px;
    font-size: 13px;
    /* padding: 2px; */
    border-radius: 32px;
    padding: 1px 5px;
    cursor: pointer;
 }
  
/* Trase your card ended */























 
/* Responsivness */

@media (min-width: 2880px) and (max-width: 3200px){
.new-car-card-full {
    height: calc(40vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
.text-area p {
    width: 394px;
    font-size: 12px;
}
}

@media (min-width: 2270px) and (max-width: 2870px){
.new-car-card-full {
    height: calc(40vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
.text-area p {
    width: 394px;
    font-size: 18px;
}
.hero-section {
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
    height: calc(100vh);
}
.hero-text-container h1 {
    color: white;
    font-size: 54px;
    font-weight: 900;
    font-family: Josefin Sans;
}
.hero-text-container p {
    font-size: 25px !important;
    color: white;
    padding-top: 11px;
    line-height: initial;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 35px;
    margin-right: 40px;
    font-family: Josefin Sans;
    border-radius: 25px;
}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin Sans;
    border-radius: 25px;
}

}

@media (min-width: 1920px) and (max-width: 2269px){
.text-area p {
    width: 394px;
    font-size: 18px;
}
.hero-section {
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
    height: calc(100vh);
}
.hero-text-container h1 {
    color: white;
    font-size: 54px;
    font-weight: 900;
    font-family: Josefin Sans;
}
.hero-text-container p {
    font-size: 25px !important;
    color: white;
    padding-top: 11px;
    line-height: initial;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 35px;
    margin-right: 40px;
    font-family: Josefin Sans;
    border-radius: 25px;
}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin Sans;
    border-radius: 25px;
}


.new-car-card-full {
    height: calc(40vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
}

@media (min-width: 1485px) and (max-width: 1918px)
{
.text-area p {
    width: 394px;
    font-size: 18px;
}
.hero-section {
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
    height: calc(100vh);
}
.hero-text-container h1 {
    color: white;
    font-size: 54px !important;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 24px !important;
    color: white;
    padding-top: 11px;
    line-height: initial;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 35px;
    margin-right: 40px;
    font-family: Josefin Sans;
    border-radius: 25px;
}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin Sans;
    border-radius: 25px;
}

.new-car-card-full {
    height: calc(55vh - 120px);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}

}
@media (min-width: 1400px) and (max-width: 1600px){
.hero-text-container h1 {
    color: white;
    font-size: 54px !important;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 24px !important;
    color: white;
    padding-top: 11px;
    line-height: initial;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 35px;
    margin-right: 40px;
    font-family: Josefin Sans;
    border-radius: 25px;
}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin Sans;
    border-radius: 25px;
}
}
@media (min-width: 1200px) and (max-width: 1485px){
.new-car-card-full {
    height: calc(50vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
.hero-text-container h1 {
    color: white;
    font-size: 46px;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 20px;
    color: white;
    padding-top: 11px;
    line-height: initial;
    font-family: Josefin sans;
}
.text-area p {
    width: 394px;
    font-size: 18px;
}
.main-nav-items a {
    color: #fff!important;
    margin-left: 13px!important;
    transition: .5s ease-in-out;
}
.main-nav-items-span {
    color: #fff!important;
    margin-left: 13px!important;
    transition: .5s ease-in-out;
}
.btn-trade {
    background-color: #008bff;
    color: #fff;
    text-decoration: none!important;
    padding: 10px 30px;
    margin-right: 30px;
    font-family: Josefin sans;
    border-radius: 25px;
}
.how-we-work-card h1 {
    font-size: 15px;
    color: #263242;
    font-weight: bold;
}
.how-we-work-card p {
    color: #656565;
    font-size: 11px;
    font-weight: 700;
    padding-left: 20px;
}
}


@media (min-width: 1100px) and (max-width: 1199px){
.new-car-card-full {
    height: calc(50vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
.hero-text-container h1 {
    color: white;
    font-size: 42px;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 18px;
    color: white;
    line-height: 19px;
    padding-top: 11px;
    font-family: Josefin sans;
}
.text-area p {
    width: 394px;
    font-size: 18px;
}
.main-nav-items a {
    color: #fff!important;
    margin-left: 13px!important;
    transition: .5s ease-in-out;
}
.btn-trade {
    background-color: #008bff;
    color: #fff;
    text-decoration: none!important;
    padding: 10px 30px;
    margin-right: 30px;
    font-family: Josefin sans;
    border-radius: 25px;
}

.how-we-work-card h1 {
    font-size: 15px;
    color: #263242;
    font-weight: bold;
}
.how-we-work-card p {
    color: #656565;
    font-size: 11px;
    font-weight: 700;
    padding-left: 0px;
}


}
@media  (min-width: 1025px) and (max-width: 1100px)
{
.text-area p {
    width: 394px;
    font-size: 18px;
}
.main-nav-items a {
    color: #fff!important;
    margin-left: 13px!important;
    transition: .5s ease-in-out;
}
.hero-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 180px;
}
.hero-text-container h1 {
    color: white;
    font-size: 42px;
    font-weight: 900;
    font-family: Josipen sans;
}
.hero-text-container p {
    font-size: 18px;
    color: white;
    line-height: 19px;
    padding-top: 11px;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008bff;
    color: #fff;
    text-decoration: none!important;
    padding: 10px 30px;
    margin-right: 30px;
    font-family: Josipen sans;
    border-radius: 30px;
}
.how-we-work-card p {
    color: #656565;
    font-size: 12px;
    font-weight: 700;
    padding-left: 0px;
}
.how-we-work-card h1 {
    font-size: 15px;
    color: #263242;
    font-weight: bold;
}
.new-car-card-full {
    height: calc(44vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}

}
@media only screen and (min-width: 994px) and (max-width: 1024px) {
.new-car-card-full {
    height: 235px;
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}

}

@media only screen and (min-width: 768px) and (max-width: 993px) {
.new-car-card-full {
    height: calc(65vh);    
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
.steps-row-image img{
    width: 100% !important;
 }
 .welcome-img-boy{
    max-width: 544px;
    position: relative;
    bottom: -3px;
}
/* nar bar start */

 .navbar-light .navbar-nav .nav-link { 
    font-size: 14px;
}
.main-nav-items a {
    color: white !important;
    margin-left: 20px !important;
    transition: .5s ease-in-out;
}


/* Nav bar ends */


/* Hero section start */
.hero-section {
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
}
.hero-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.hero-text-container h1 {
    color: white;
    font-size: 41px !important;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 16px;
    color: white;
    line-height: 19px;
    padding-top: 5px;
    font-family: Josefin sans;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 25px;
    margin-right: 30px;
    font-size: 15px;
    font-family: Josefin sans;
    border-radius: 25px;

}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 35px;
    transition: .3s ease-in-out;
    font-family: Josefin sans;
    font-size: 15px;
    border-radius: 25px;
}


/* Hero Ends */


/* how we works */
.how-we-work-card p {
    color: #656565;
    font-size: 8px;
    font-weight: 700;
    padding-left: 16px;
}
.how-we-work-card h1 {
    font-size: 15px;
    color: #263242;
    font-weight: bold;
}
.text-area p {
    width: 394px;
    font-size: 18px;
}
/* How we works end */
p {
    font-family: Josefin sans;
    font-size: 12px;
}

/* Car items start */

.new-car-card-full h1 {
    font-size: 28px;
    color: white;
    font-weight: 800;
    overflow: hidden;
    padding-top: 25px;
}
/* .new-card-list-item {
    color: white;
    font-size: 7px;
} */

/* Car items end */

.border-first {
    border-right: 1px solid white;
    padding-left: 0px;
    padding-right: 6px;
}
}

@media only screen and (min-width: 425px) and (max-width: 768px) {

/* Hero start */

.hero-text-container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}
.hero-text-container h1 {
    color: white;
    font-size: 41px !important;
    font-weight: 900;
    font-family: Josefin sans;
}
.hero-text-container p {
    font-size: 16px;
    color: white;
    line-height: 19px;
    padding-top: 5px;
    font-family: Josefin sans;
}
.hero-btns-container {
    display: flex;
    padding-top: 35px;
}

.hero-section{ 
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
}
.btn-trade {
    background-color: #008BFF;
    color: white;
    text-decoration: none !important;
    padding: 10px 20px;
    margin-right: 26px;
    font-family: Josefin sans;
    border-radius: 25px;
}
.btn-sell {
    background-color: white;
    text-decoration: none !important;
    color: #008BFF;
    text-decoration: none;
    padding: 10px 25px;
    transition: .3s ease-in-out;
    font-family: Josefin sans;
    border-radius: 25px;

}

/* Hero End */
    
/* nav started */
    .navbar-light .navbar-nav .nav-link { 
    font-size: 14px;
}
/* nav ended */
 /* welcome started */
 .welcome-img-boy{
    max-width: 300px;
}
  /* how we work started */
 .how-we-work-cards-area{
  padding: 0px 50px   !important;   
 }
 /* welcome ended */

 /* contact us started */
   .contact-us-text h2{
             font-size: 25px;
    font-weight: 600;
 }
  
 /* contact us ended */


 /* trade car started */
  .steps-row-image img{
             max-width: 370px !important;
 }
 .steps-row-image{
       padding: 33px 10px 60px 10px !important;
 }
  /* trade car ended */

}
 

@media only screen and (min-width: 401px) and (max-width: 425px) {
.hero-text-container h1 {
    color: white;
    font-size: 41px !important;
    font-weight: 900;
    font-family: Josefin sans;
}
}

@media only screen and (min-width: 375px) and (max-width: 425px) { 
  /* nav started */

.new-card-list-item {
    color: white;
    font-size: 10px;
    letter-spacing: 0.5px;
}
.upper-nav span {
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
    font-family: Josefin sans;
}
.navbar-light .navbar-nav .nav-link { 
    font-size: 14px;
}
/* nav ended */


/* hero section started */ 
.hero-section {
    background-image: url("../assets/imgs/png/hero/pexels-tyler-clemmensen-8376445-min.png");
    background-size: cover;
}
.hero-text-container {
    padding-top: 70px;
    padding-bottom: 120px;
}
.btn-trade {
    padding: 10px 20px;
    margin-right: 25px;
    font-size: 13px;
    border-radius: 25px;
}

.hero-text-container p {
    font-size: 17px;
    color: white;
    line-height: 19px;
    padding-top: 7px;
    font-family: Josefin sans;
}
.btn-sell {
    padding: 10px 20px;
    font-size: 13px;
    border-radius: 25px;

}
/* hero ended */

/* welcome started */
 .welcome-img-boy{
    max-width: 300px;
}
 .welcome-text-container h1 {
    font-size: 29px;
    font-weight: 700;
    color: #263242;
    font-family: Josefin sans;
}
 /* welcome ended */


/* car container  */

.new-car-card-full h1 {
    font-size: 29px;
    color: white;
    font-weight: 800;
    overflow: hidden;
    padding-top: 25px;
}

.new-car-card-full {
    height: calc(35vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}


/* how we work started */
 .how-we-work-cards-area{
  padding: 0px 80px   !important;   
 }
 

 .how-we-work-cards-area{
  padding: 0px 50px   !important;   
 }
 /* how we work ened */


/* contact us started */
   .contact-us-text h2{
             font-size: 25px;
    font-weight: 600;
 }
 
 /* contact us ended */

 /* trade car started */
  .steps-row-image img{
             
    width: 244px !important;

 }
  .steps-row-image{
       padding: 33px 10px 60px 10px !important;
 }
  /* trade car ended */
  .footer-text-area{
      padding: 18px;
  }
}


@media only screen and (min-width: 375px) and (max-width: 400px) {
.hero-text-container h1 {
    color: white;
    font-size: 36px !important;
    font-weight: 900;
    font-family: Josefin sans;
}

 }
@media only screen and (min-width: 320px) and (max-width: 375px) {
 .buy-card {
    background-color: #253242;
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 11% 100%, 0% 80%, 0 0);
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 11% 100%, 0% 80%, 0 0);
    max-width: 289px !important;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    height: 222px;
    flex-direction: column;
}
.sell-card {
    /* background-image: url(../assets/imgs/png/buyOrSellCard/Subtraction\ 5.png); */
    background-color: #005DAB;
    max-width: 289px !important;
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    height: 222px;
    -webkit-clip-path: polygon(20% 0%, 89% 0%, 100% 20%, 100% 80%, 100% 100%, 10% 100%, 0 100%, 0 0);
    clip-path: polygon(20% 0%, 89% 0%, 100% 20%, 100% 80%, 100% 100%, 10% 100%, 0 100%, 0 0);
}
.tr-sub-heading {
    /* padding-bottom: 36px; */
    color: white;
    font-size: 11px;
    padding-bottom: 0px;
    padding-bottom: 41px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
    font-weight: lighter;
}
.tr-heading {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 0px 5px;
}
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
    /* nav started */

    .navbar-light .navbar-nav .nav-link { 
    font-size: 14px;
}

.hero-text-container h1 {
    color: white;
    font-size: 30px;
    font-weight: 900;
    font-family: Josefin sans;
}
/* nav ended */
.hero-text-container p {
    font-size: 14px;
    color: aliceblue;
    line-height: 18px;
    padding-top: 2px;
    font-family: Josefin sans;
}
.hero-text-container{ 
    padding-top: 100px ;
    padding-bottom:  80px;
}
.btn-trade {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;

}
.btn-sell {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;
}
.upper-nav span {
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: 600;
    font-family: Josefin sans;
}
/* hero ended */
 /* welcome started */

 .welcome-img-boy{
    max-width: 300px   !important;
}
.welcome-text-container h6 {
    color: #263242;
    font-size: 15px;
    font-weight: 600;
    padding-top: 10px;
}
.welcome-text-container h1 {
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    color: #263242;
    font-family: Josefin sans;
}
  /* how we work started */
 .how-we-work-cards-area{
  padding: 0px 50px   !important;   
 }
 /* how we work ened e */

  /* contact us started */
   .contact-us-text h2{
             font-size: 25px;
    font-weight: 600;
 }
 
 /* contact us ended */

 /* Buy Card */

.tr-heading {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
.tr-sub-heading {
    color: white;
    font-size: 9px;
    margin-top: 12px;
    padding-bottom: 40px;
    text-decoration: underline;
    text-decoration-color: gray;
    text-underline-offset: 2px;
    text-decoration-thickness: 3px;
}
 /* Buy Card end */

 /* trade car started */
  .steps-row-image img{
           
    width: 244px !important;

 }
  .steps-row-image{
       padding: 33px 10px 60px 10px !important;
 }
  /* trade car ended */
  .new-car-card-full {
    height: calc(30vh);
    /* height: 357px; */
    background-size: cover !important;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 11px 53px !important;
    /* padding: 194px 40px 18px 40px !important; */
}
.new-car-card-full h1 {
    font-size: 23px;
    color: white;
    font-weight: 800;
    overflow: hidden;
    padding-top: 15px;
}
.border-right {
    border-right: 3px solid white;
    padding: 0px 9px;
}
.border-first {
    border-right: 1px solid white;
    padding-left: 0px;
    padding-right: 10px;
}
.new-card-list-item {
    color: white;
    font-size: 10px;

}

p {
    font-family: Josefin sans;
    font-size: 14px;
}
.how-we-work-text-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px !important;
    flex-direction: column;
}
.how-we-work-text-area h1 {
    color: #253141;
    font-size: 25px;
}
.how-we-work-text-area h6 {
    font-size: 15px;
    font-weight: 800;
    padding-top: 10px;
}
.react-multi-carousel-item{
    width: 280px;
}
.get-registered-container h1 {
    font-family: Josefin sans;
    font-size: 24px;
    color: white;
}
.get-registered-container p {
    font-size: 10px;
    color: white;
}



 /* page2 sections */


.text-area p {
    width: 290px;
    font-size: 10px;
}
.text-area h2 {
    font-size: 37px;
    font-weight: 600;
    font-family: Josefin sans;
}
.car-info{
font-size: 24px;
}
.your-info{
    font-size: 24px;

}
}